<div class="col-md-4 order-md-1 show-img">
  <div class="click">
    <%= render 'histories/history' %>
    <%= render 'clips/clip' %>
  </div>
  <%= image_tag @spot.image.url, class: 'img-fluid rounded mb-3', alt: 'Responsive image' %><br>
  <% if @spot.images.attached? %>
    <% @spot.images.each do |image| %>
      <%= image_tag image, class: 'img-fluid rounded mb-3', alt: 'Responsive image' %> <br>
    <% end %>
  <% end %>
</div>
