<div class="tab-content">
  <%= search_form_for @q do |f| %>
    <div class="search">
      <%= f.select( :sorts, {
        '並び替え': 'id desc',
        '訪問日の新しい順': 'visit_date desc',
        '投稿日の新しい順': 'updated_at desc'
        },
        # { selected: 'params[:q][:sorts]' },
        { onchange: 'this.form.submit()'}) %>
      <%= f.submit "検索", class: "btn btn-md" %>
    </div>
    <% @comments.each do |comment| %>
      <%= render partial: "comments/allcomments", locals: { comment: comment } %>
    <% end %>
  <% end %>
</div>
