<div class="tab-content">
  <%= search_form_for @q do |f| %>
    <%= f.select( :sorts, {
      '並び替え': 'id desc',
      '訪問日の新しい順': 'visit_date desc',
      '投稿日の新しい順': 'updated_at desc'
      } ,
      { onchange: 'this.form.submit()'} ) %>
    <%= f.submit "検索" %>

    <% @comments.each do |comment| %>
      <%= render partial: "comments/allcomments", locals: { comment: comment } %>
    <% end %>
  <% end %>
</div>
