<section class="tabs">
  <div class="tab-wrap">

    <input id="TAB-01" type="radio" name="TAB" class="tab-switch" checked="checked" /><label class="tab-label" for="TAB-01">訪問日順<p><%= @comments.count %></p></label>
    <div class="tab-content">
      <% @comments.order(visit_date: :desc).each do |comment| %>
        <%= render partial: "comments/allcomments", locals: { comment: comment } %>
      <% end %>
    </div>

    <input id="TAB-02" type="radio" name="TAB" class="tab-switch" /><label class="tab-label" for="TAB-02">投稿日順<p><%= @comments.count %></p></label>
    <div class="tab-content">
      <% @comments.order(updated_at: :desc).each do |comment| %>
        <%= render partial: "comments/allcomments", locals: { comment: comment } %>
      <% end %>
    </div>

  </div>
</section>
