.title {
  text-align: center;
  h1 {
    text-align: center;
    position: relative;
    display: inline-block;
    margin-bottom: 3rem;
  }
  h1:before {
    content: '';
    position: absolute;
    bottom: -15px;
    display: inline-block;
    width: 80px;
    height: 5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #B9D0D7;
    border-radius: 2px;
  }
  .tw {
    padding-right: 30px;
    .twitter-weather {
      margin: 0 auto;
      .twitter-share-icon {
        position: relative;
        top: -3.3rem;
        left: -1rem;
      }
      .weather .weather__content--report {
        display: inline-block;
        margin-right: 0.2rem;
        img {
          max-width: 70%;
          background-color: #ebebeb;
          border-radius: 8px;
          padding: 0.1rem;
        }
        p {
          font-size: 0.6rem;
          margin: 0;
        }
      }
    }
  }
}
