// タイトル
.spot-comment {
  .title {
    text-align: center;
    h1 {
      text-align: center;
      position: relative;
      display: inline-block;
      margin-bottom: 3rem;
    }
    h1:before {
      content: '';
      position: absolute;
      bottom: -15px;
      display: inline-block;
      width: 80px;
      height: 5px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      background-color: #B9D0D7;
      border-radius: 2px;
    }
  }

  .nav {
    margin: 2rem 0;
  }

  .tab-content {
    background-color: #EFEFEF;
    position: relative;
    .flash {
      position: absolute;
      top: 1rem;
      left: 42%;
      transform: translateX(-42%);
      -webkit-transform: translateX(-42%);
      -ms-transform: translateX(-42%);
      color: rgb(221, 106, 106);
    }
    .container {
      padding: 4rem 0;
      ul {
        list-style-type: none;
      }
      li {
        display: inline-block;
      }
    }
  }
}
