.spot-comment .title, .form .title {
  text-align: center;
}

.spot-comment .title h1, .form .title h1 {
  text-align: center;
  position: relative;
  display: inline-block;
  margin-bottom: 3rem;
}

.spot-comment .title h1:before, .form .title h1:before {
  content: '';
  position: absolute;
  bottom: -15px;
  display: inline-block;
  width: 80px;
  height: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #B9D0D7;
  border-radius: 2px;
}

.form .tab-content {
  margin-top: 4.2rem;
}

.form .info {
  text-align: center;
  margin-top: 2rem;
}

.spot-comment .tab-content, form .tab-content {
  background-color: #EFEFEF;
  position: relative;
}

.spot-comment .tab-content .flash, form .tab-content .flash {
  position: absolute;
  top: 1rem;
  left: 42%;
  transform: translateX(-42%);
  -webkit-transform: translateX(-42%);
  -ms-transform: translateX(-42%);
  color: #dd6a6a;
}

.spot-comment .tab-content .container, form .tab-content .container {
  padding: 5rem 0;
}

.spot-comment .tab-content .container ul, form .tab-content .container ul {
  list-style-type: none;
  margin-bottom: 0;
  margin-left: 2rem;
  position: relative;
}

.spot-comment .tab-content .container ul .user-pic, form .tab-content .container ul .user-pic {
  position: absolute;
  top: 0.1rem;
  left: -2.6rem;
}

.spot-comment .tab-content .container ul .user-name, form .tab-content .container ul .user-name {
  font-size: 0.9rem;
  color: #77a1ad;
}

.spot-comment .tab-content .container ul .comment-btn, form .tab-content .container ul .comment-btn {
  float: right;
}

.spot-comment .tab-content .container ul .comment-content, form .tab-content .container ul .comment-content {
  width: 100%;
}

.spot-comment .tab-content .container ul .comment-content .edit, form .tab-content .container ul .comment-content .edit {
  color: #9ab7d8;
  margin-right: 0.4rem;
}

.spot-comment .tab-content .container ul .comment-content .delete, form .tab-content .container ul .comment-content .delete {
  color: #bb9ad8;
}

.spot-comment .tab-content .container li, form .tab-content .container li {
  display: inline-block;
  font-size: 0.8rem;
  margin-right: 0.3rem;
}

.spot-comment .tab-content .container .parent, form .tab-content .container .parent {
  position: relative;
}

.spot-comment .tab-content .container .parent .child, form .tab-content .container .parent .child {
  position: absolute;
  top: -3.6rem;
  right: 15rem;
}

.spot-comment .tab-content .container .parent .child a, form .tab-content .container .parent .child a {
  display: block;
  text-decoration: none;
  background-color: #b9d6df;
  color: #fff !important;
  padding: 0.5rem 1.8rem;
  border-radius: 75% 25% 74% 26% / 39% 35% 65% 61%;
  font-size: 0.9rem;
}

.spot-comment .tab-content hr, form .tab-content hr {
  margin: 0 0 0.8rem 0;
}

.spot-comment .tab-content .show-img, form .tab-content .show-img {
  position: relative;
}

.spot-comment .tab-content .show-img .click, form .tab-content .show-img .click {
  position: absolute;
  top: -3.6rem;
  left: 1rem;
}

.spot-comment .tab-content .show-img .click .histories-btn, .spot-comment .tab-content .show-img .click .clips-btn, form .tab-content .show-img .click .histories-btn, form .tab-content .show-img .click .clips-btn {
  font-size: 0.8rem;
}

.spot-comment .tab-content .show-img .click .histories-spot, .spot-comment .tab-content .show-img .click .clips-spot, form .tab-content .show-img .click .histories-spot, form .tab-content .show-img .click .clips-spot {
  color: #c2c2c2;
}

.spot-comment .tab-content .show-img .click .histories-delete, form .tab-content .show-img .click .histories-delete {
  color: #538bb9;
  font-weight: bold;
}

.spot-comment .tab-content .show-img .click .clips-delete, form .tab-content .show-img .click .clips-delete {
  color: #53b997;
  font-weight: bold;
}
