// 口コミソートビュー
@import "all_comments";

// タイトル
.spot-comment, .form {
  .title {
    text-align: center;
    h1 {
      text-align: center;
      position: relative;
      display: inline-block;
      margin-bottom: 3rem;
    }
    h1:before {
      content: '';
      position: absolute;
      bottom: -15px;
      display: inline-block;
      width: 80px;
      height: 5px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      background-color: #B9D0D7;
      border-radius: 2px;
    }
    .twitter-share-icon {
      position: absolute;
      right: -50px;
    }
  }
}

.form {
  .tab-content {
    margin-top: 4.2rem;
  }
  .info {
    text-align: center;
    margin-top: 2rem;
  }
  .radio .form-group {
    .radio1 {
      margin: 0 0.5rem;
    }
    .radio-menu {
      color: #fff;
      background-color: #aac2dd;
      border-radius: 3rem;
      padding: 0.5rem 1rem;
      margin-bottom: 0;
    }
  }
  .error {
    color: red;
  }
}

.spot-comment, form {
  .tab-content {
    background-color: #EFEFEF;
    position: relative;
    .flash {
      position: absolute;
      top: 1rem;
      left: 42%;
      transform: translateX(-42%);
      -webkit-transform: translateX(-42%);
      -ms-transform: translateX(-42%);
      color: rgb(221, 106, 106);
    }
    .container {
      padding: 5rem 0;
      .comment-items {
        display: flex;
        .user-pic {
          width: 2.6rem;
          height: 2.6rem;
          margin-right: 1rem;
        }
        .comment-item {
          width: 100%;
          .user-name {
            font-size: 0.9rem;
            color: #77a1ad;
          }
          .comment-btn {
            float: right;
          }
          .comment-content {
            width: 100%;
            .edit {
              color: #9ab7d8;
              margin-right: 0.4rem;
            }
            .delete {
              color: #bb9ad8;
            }
          }
          .comment-index {
            display: initial;
          }
        }
      }
      .parent {
        position: relative;
        .child {
          position: absolute;
          top: -3.6rem;
          right: 15rem;
          a {
            display: block;
            text-decoration: none;
            background-color: #b9d6df;
            color: #fff !important;
            padding: 0.5rem 1.8rem;
            border-radius: 75% 25% 74% 26% / 39% 35% 65% 61%;
            font-size: 0.9rem;
          }
        }
      }
    }
    hr {
      margin: 0.4rem 0 0.8rem 0;
    }
  }
}

/* ---------------  --------------- */
@media not all and (min-width: 768px) {
  /* 768pxを含まずそれより小さい場合 */
  .spot-comment {
    .tab-content .container {
      padding-bottom: 0;
    }
    .show-img {
      img {
        margin-top: 5rem;
      }
      .history-clip {
        position: absolute;
        top: 1rem;
        left: 2rem;
      }
    }
  }
  .form .container {
    padding: 1rem !important;
  }
}


ul {
  list-style-type: none;
  margin-bottom: 0;
}
li {
  display: inline-block;
  font-size: 0.8rem;
  padding-right: 0.8rem;
  .spot-name {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding: 0 .75em 0 .75em;
    background-color: #e1d9e8;
    border-radius: 30px;
    color: #555;
    -webkit-transition: .2s;
    transition: .2s;
  }
  .spot-name:hover {
    text-decoration: none;
    background-color: #555;
    color: #fff;
  }
  .area-name {
    color: #bb9ad8;
  }
  .area-name:hover {
    text-decoration: none;
    color: #333;
  }
}
.comment-content {
  display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  padding-top: 0.2rem;
}
.fukidashi {
  display: none;
  position: absolute;
  bottom: 30px;
  left: 20px;
  width: 20rem;
  padding: 1rem;
  border-radius: 5px;
  background: #92adc3;
  color: #fff;
  opacity: 0.9;
}
.fukidashi:after {
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  bottom: -19px;
  margin-left: 10px;
  border: solid transparent;
  border-color: rgba(51, 204, 153, 0);
  border-top-color: #92adc3;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}
.comment-content:hover + .fukidashi {
  display: block;
}

// 口コミ検索
.is-hide {
  display: none;
}
.search-title {
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}
.search-form {
  margin-bottom: 4rem;
  padding: 1rem 2rem;
  background-color: #f2f2f2;
  .search-box {
    text-align: left;
    padding: 0.4rem 0;
    label {
      margin-right: 4px; /* ボタン同士の間隔 */
      input {
        display: none; /* デフォルトのinputは非表示にする */
      }
      span {
        color: #b0b0b0;
        font-size: 14px;
        border: 0.5px solid #b0b0b0;
        border-radius: 20px;
        padding: 5px 20px;
      }
      input:hover + span {
        color: #FFF;
        background: #dadada;
        border: 0.5px solid #dadada;
      }
      input:checked + span {
        color: #FFF;
        background: #ababab;
        border: 0.5px solid #ababab;
      }
    }
    .search-box_label {
      display: inline-block;
      width: 5rem;
      text-align: right;
      margin-right: 0.4rem;
    }
  }
}

@media not all and (max-width: 1400px) {
  /* 1400pxを含まずそれより大きい場合 */
  .spot-show, .spot-comment, .map {
    .tab-content .container {
      width: 1040px;
    }
  }
}
