.spot-comment .title {
  text-align: center;
}

.spot-comment .title h1 {
  text-align: center;
  position: relative;
  display: inline-block;
  margin-bottom: 3rem;
}

.spot-comment .title h1:before {
  content: '';
  position: absolute;
  bottom: -15px;
  display: inline-block;
  width: 80px;
  height: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #B9D0D7;
  border-radius: 2px;
}

.spot-comment .nav {
  margin: 2rem 0;
}

.spot-comment .tab-content {
  background-color: #EFEFEF;
  position: relative;
}

.spot-comment .tab-content .flash {
  position: absolute;
  top: 1rem;
  left: 42%;
  transform: translateX(-42%);
  -webkit-transform: translateX(-42%);
  -ms-transform: translateX(-42%);
  color: #dd6a6a;
}

.spot-comment .tab-content .container {
  padding: 5rem 0;
}

.spot-comment .tab-content .container ul {
  list-style-type: none;
  margin-bottom: 0;
  margin-left: 2rem;
  position: relative;
}

.spot-comment .tab-content .container ul .user-pic {
  position: absolute;
  top: 0.1rem;
  left: -2.6rem;
}

.spot-comment .tab-content .container ul .user-name {
  font-size: 1rem;
  margin-right: 1rem;
}

.spot-comment .tab-content .container ul .comment-btn {
  display: inline-block;
  width: 100%;
  text-align: right;
}

.spot-comment .tab-content .container ul .comment-content {
  width: 100%;
}

.spot-comment .tab-content .container ul .comment-content .edit {
  color: #9ab7d8;
  margin-right: 0.4rem;
}

.spot-comment .tab-content .container ul .comment-content .delete {
  color: #bb9ad8;
}

.spot-comment .tab-content .container li {
  display: inline-block;
  font-size: 0.8rem;
  margin-right: 0.3rem;
}

.spot-comment .tab-content .container .parent {
  position: relative;
}

.spot-comment .tab-content .container .parent .child {
  position: absolute;
  top: -3.6rem;
  left: 0;
}

.spot-comment .tab-content .container .parent .child a {
  display: block;
  text-decoration: none;
  background-color: #b9d6df;
  color: #fff !important;
  padding: 0.5rem 1.8rem;
  border-radius: 75% 25% 74% 26% / 39% 35% 65% 61%;
  font-size: 0.9rem;
}

.spot-comment .tab-content hr {
  margin: 0 0 0.8rem 0;
}
