@charset "UTF-8";
header {
  margin-bottom: 5rem !important;
}

.sign-in-new, .sign-up-new, .sign-in-edit {
  background-color: #e6e6e6;
  padding: 5rem 10rem;
  width: 85%;
  margin: 0 auto;
}

.sign-in-new .container, .sign-up-new .container, .sign-in-edit .container {
  background-color: #fff;
  padding: 2rem 10rem;
  box-shadow: -8px -8px 16px rgba(170, 170, 170, 0.342);
}

.sign-in-new input, .sign-up-new input, .sign-in-edit input {
  margin: 0.4rem 0;
  padding: 0.5rem;
  transition: 0.3s;
  width: 16rem;
  border: none;
  background-color: #e6e6e6;
}

.sign-in-new input:focus, .sign-up-new input:focus, .sign-in-edit input:focus {
  outline: none;
  box-shadow: 0 0 5px 1px rgba(69, 143, 185, 0.692);
}

.sign-in-new ::placeholder, .sign-up-new ::placeholder, .sign-in-edit ::placeholder {
  font-size: 0.8rem;
  color: #949494;
}

.sign-in-new .actions input, .sign-up-new .actions input, .sign-in-edit .actions input {
  background-color: #a3bfd8;
  color: #fff;
  width: 10rem;
  margin-bottom: 2rem;
}

.sign-in-new a, .sign-up-new a, .sign-in-edit a {
  display: inline-block;
}

.sign-in-new .sign-up-link, .sign-up-new .sign-up-link, .sign-in-edit .sign-up-link {
  font-size: 1.2rem;
  color: #4487be;
}

.sign-in-new .forgot-your-password-link, .sign-up-new .forgot-your-password-link, .sign-in-edit .forgot-your-password-link {
  font-size: 0.8rem;
  color: #5f7688;
  margin-top: 1rem;
}

.sign-in-new #user_remember_me, .sign-up-new #user_remember_me, .sign-in-edit #user_remember_me {
  width: 1rem;
}

.sign-in-new .pic, .sign-up-new .pic, .sign-in-edit .pic {
  display: flex;
  align-items: center;
}

/* --------------- 新規登録 --------------- */
.sign-up-new .login-link {
  font-size: 0.8rem;
}

.sign-up-new .sign-in-link {
  color: #4487be;
}

/* --------------- アカウント編集 --------------- */
.sign-in-edit input, .sign-in-edit textarea {
  margin: 0;
  width: 100%;
}

.sign-in-edit textarea {
  height: 5rem;
}

.sign-in-edit label, .sign-in-edit i, .sign-in-edit em {
  margin-top: 2rem;
  margin-bottom: 0;
  font-size: 0.9rem;
}

.sign-in-edit #user_image {
  background-color: transparent;
}

.sign-in-edit .cancel-account {
  width: 10rem;
  font-size: 0.8rem;
  background-color: transparent;
  text-align: left;
  padding: 0;
}

.back-link {
  color: #4487be;
}
