$carousel-indicator-length: 5px;

.carousel-indicators {
  & li {
    border-radius: 50%;
    margin: 1px 5px;
    height: $carousel-indicator-length;
    max-width: $carousel-indicator-length;
  }
}
