/* --------------- main--------------- */
.show-index {
  max-width: 992px;
  margin:0 auto;
}

/* --------------- title-section --------------- */
.page-title {
  text-align: center;
}

//スポット新規登録
.form-group {
  margin-top:  2rem;
  .form-control {
    margin-top: 0.5rem;
  }
}

//スポット一覧
/* --------------- card-section --------------- */
#q_area_id_eq {
  padding: 0.7rem;
  margin: 1rem;
}

.index-card{
  padding-top: 2rem;
  padding-bottom: 4rem;
  .card {
    box-shadow:-5px 5px 5px rgba(170, 170, 170, 0.342);
  }
  .card:hover {
    box-shadow:-2px 4px 4px rgba(177, 177, 177, 0.205);
  }
  .card-link {
    color: #555;
  }
  .card-link:hover {
    color: #222;
    text-shadow: 1px 2px 3px #b3b3b3;
  }
  .card-area {
    font-size: 0.8rem;
  }
  .card-text {
    font-size: 0.75rem;
    width: 100%;
    display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}




//スポット詳細
/* --------------- spot-show --------------- */
.spot-show, .map {
  // タイトル
  .title {
    text-align: center;
    h1 {
      text-align: center;
      position: relative;
      display: inline-block;
      margin-bottom: 3rem;
    }
    h1:before {
      content: '';
      position: absolute;
      bottom: -15px;
      display: inline-block;
      width: 80px;
      height: 5px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      background-color: #B9D0D7;
      border-radius: 2px;
    }
  }

  .tab-content {
    background-color: #EFEFEF;
    .container {
      padding: 5rem 0;
      position: relative;
    }
    .show-btn {
      position: absolute;
      right: 1rem;
      bottom: -3rem;
    }

    // タグ - 特徴
    .tag {
      ul {
      list-style: none;
        span {
          font-size: 0.8rem;
          padding-right: 0.4rem;
        }
        li {
          display: inline-block;
          a {
            position: relative;
            display: inline-block;
            height: 30px;
            line-height: 30px;
            padding: 0 1em 0 .75em;
            background-color: #c7d9e9;
            border-radius: 30px;
            color: #555;
            font-size: 0.8rem;
            margin: 1rem 0.4rem 0 0;
            text-decoration: none;
            -webkit-transition: .2s;
            transition: .2s;
          }
          a:hover {
            background-color: #555;
            color: #fff;
          }
          a:before {
            content: "#";
            padding-right: 2px;
          }
          .feature {
            background-color: #d7d7e8;
          }
        }
      }
    }
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

 // 行った、行きたいリストボタン
 .show-img {
   position: relative;
   .history-clip {
    position: absolute;
    top: -3.6rem;
    left: 1rem;
    .histories-btn, .clips-btn {
      font-size: 0.8rem;
      text-decoration: none;
    }
    .histories-spot, .clips-spot {
      color: #868686;
    }
    .histories-spot:hover, .clips-spot:hover {
      color: #333;
      font-weight: bold;
    }
    .histories-delete, .clips-delete {
      font-weight: bold;
      margin-right: 0.4rem;
    }
    .histories-delete {
      color: #538bb9;
    }
    .clips-delete {
      color: #53b997;
    }
  }
}

/* ---------------  --------------- */
@media not all and (min-width: 768px) {
  /* 768pxを含まずそれより小さい場合 */
  .index-card .col-lg-4 {
    padding: 2rem;
  }
  .tab-content .col-md-8 {
    padding: 2rem;
  }
  .spot-show, .map {
    .tab-content .container {
      padding: 0;
      img {
        margin-top: 5rem;
      }
    }
    .show-img {
      .history-clip {
        position: absolute;
        top: 1rem;
        left: 2rem;
      }
    }
  }
}

@media not all and (min-width: 576px) {
  /* 576pxを含まずそれより小さい場合 */
  .index-card .col-lg-4 {
    padding: 3rem 0;
  }
}
