.mypage {
  max-width: 992px;
  margin: 0 auto;
  /* --------------- card-section --------------- */
}

.mypage h1 {
  text-align: center;
  margin-bottom: 3rem;
}

.mypage section {
  margin-bottom: 4rem !important;
}

.mypage .profile {
  max-width: 576px;
  margin: 0 auto;
}

.mypage .profile .pic {
  border-radius: 10rem;
  box-shadow: -5px 5px 5px rgba(170, 170, 170, 0.342);
}

.mypage .profile .ig {
  text-align: center;
  padding-top: 0.8rem;
}

.mypage .profile .name {
  margin-bottom: 1rem;
}

.mypage .profile .name .myname {
  font-size: 2.4rem;
  padding-right: 1.6rem;
}

.mypage .profile .name .pb {
  font-size: 1.4rem;
  padding: 0.4rem;
}

.mypage #tab1, .mypage #tab2, .mypage #tab3 {
  padding: 2rem 0;
}

.mypage #tab1 ul {
  list-style-type: none;
}

.mypage #tab1 li {
  display: inline-block;
  font-size: 0.8rem;
  padding-right: 0.5rem;
}

.mypage #tab1 li .spot-name {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  padding: 0 1em 0 .75em;
  background-color: #e1d9e8;
  border-radius: 30px;
  color: #555;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
}

.mypage #tab1 li .area-name {
  text-decoration: none;
  color: #bb9ad8;
}

.mypage #tab1 .comment-content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  padding-top: 0.2rem;
}

.mypage #tab1 .fukidashi {
  display: none;
  position: absolute;
  bottom: 30px;
  left: 20px;
  width: 20rem;
  padding: 1rem;
  border-radius: 5px;
  background: #92adc3;
  color: #fff;
  opacity: 0.9;
}

.mypage #tab1 .fukidashi:after {
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  bottom: -19px;
  margin-left: 10px;
  border: solid transparent;
  border-color: rgba(51, 204, 153, 0);
  border-top-color: #92adc3;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}

.mypage #tab1 .comment-content:hover + .fukidashi {
  display: block;
}

.mypage .index-card {
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.mypage .index-card .card {
  box-shadow: -5px 5px 5px rgba(170, 170, 170, 0.342);
}

.mypage .index-card .card:hover {
  box-shadow: -2px 4px 4px rgba(177, 177, 177, 0.205);
}

.mypage .index-card .card-link {
  color: #555;
}

.mypage .index-card .card-link:hover {
  color: #222;
  text-shadow: 1px 2px 3px #b3b3b3;
}

.mypage .index-card .card-area {
  font-size: 0.8rem;
}

.mypage .index-card .card-text {
  font-size: 0.75rem;
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}
