<section class="home-header">
  <div class="home-header-top">
    <h1>Where to Swim?</h1>
  </div>
</section>

<section class="about my-5 mx-auto">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-6 pic">
      </div>
      <div class="col-md-6 px-5">
        <p style="line-height:3rem">風向きなどで、おすすめポイントが毎日変わる宮古島。</br>
          「最近あのビーチでウミガメに会えるよ」</br>
          「昨日あの海岸でカマスの大群と泳いだよ」</br>
          「あのツアーはサンゴポイントに連れて行ってくれるよ」</br>
          そんな情報を海好きのみんなでシェアしませんか？</p>
      </div>
    </div>
  </div>
</section>
