/* --------------- header --------------- */
nav {
  padding: 0 2rem !important;
  a {
    color: #EFEFEF;
    margin-right: 2rem;
    font-size: 0.8rem;
  }
  a:hover {
    color: #313131;
  }
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* --------------- main--------------- */
main {
  max-width: 992px;
  margin:0 auto;
}

/* --------------- title-section --------------- */
.page-title {
  text-align: center;
  padding-top: 8rem;
}

/* --------------- card-section --------------- */
.index-card{
  padding-top: 2rem;
  padding-bottom: 4rem;
  .card {
    box-shadow:-5px 5px 5px rgba(170, 170, 170, 0.342);
  }
  .card:hover {
    box-shadow:-2px 4px 4px rgba(177, 177, 177, 0.205);
  }
  .card-link {
    color: #222;
  }
  .card-link:hover {
    color: #222;
    text-shadow: 1px 2px 3px #b3b3b3;
  }
  .card-text {
    font-size: 0.75rem;
    width: 100%;
    display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

// .card-area {
//   font-size: 0.8rem;
// }

/* --------------- footer --------------- */
footer {
  background-color: #fff;
  padding: 1rem 0;
  a {
    display: block;
    color: #707070;
    text-align: center;
    font-family: sans-serif;
  }
  .footer-two {
    font-size: 0.6rem;
    padding-left: 0.6rem;
  }
  .footer-three {
    font-size: 0.6rem;
    padding-top: 0.2rem;
  }
}


/* ---------------  --------------- */
@media not all and (min-width: 768px) {
  /* 768pxを含まずそれより小さい場合 */
  .index-card .col-lg-4 {
    padding: 2rem;
  }
}

@media not all and (min-width: 576px) {
  /* 576pxを含まずそれより小さい場合 */
  .index-card .col-lg-4 {
    padding: 3rem 0;
  }
}
