@charset "UTF-8";
/* --------------- main--------------- */
main {
  max-width: 992px;
  margin: 0 auto;
}

/* --------------- title-section --------------- */
.page-title {
  text-align: center;
}

/* --------------- card-section --------------- */
.index-card {
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.index-card .card {
  box-shadow: -5px 5px 5px rgba(170, 170, 170, 0.342);
}

.index-card .card:hover {
  box-shadow: -2px 4px 4px rgba(177, 177, 177, 0.205);
}

.index-card .card-link {
  color: #222;
}

.index-card .card-link:hover {
  color: #222;
  text-shadow: 1px 2px 3px #b3b3b3;
}

.index-card .card-area {
  font-size: 0.8rem;
}

.index-card .card-text {
  font-size: 0.75rem;
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ---------------  --------------- */
@media not all and (min-width: 768px) {
  /* 768pxを含まずそれより小さい場合 */
  .index-card .col-lg-4 {
    padding: 2rem;
  }
}

@media not all and (min-width: 576px) {
  /* 576pxを含まずそれより小さい場合 */
  .index-card .col-lg-4 {
    padding: 3rem 0;
  }
}
